<h2 mat-dialog-title>Nova transação</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md">
        <mat-form-field class="example-full-width">
          <mat-label>Item</mat-label>
          <mat-select formControlName="item">
               <mat-option *ngFor="let item of all" [value]="item">{{ item.item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md">
        <mat-form-field style="width: 100%">
          <mat-label>Quantidade</mat-label>
          <input matInput formControlName="quantity">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-md">
          <mat-form-field class="example-full-width">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="action">
                 <mat-option value="INPUT">Entrada</mat-option>
                 <mat-option value="OUTPUT">Saída</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  </form>
  <div *ngIf="erro && !erroMsg" class="alert danger" role="alert">
    Preencha todos os campos!
  </div>
  <div *ngIf="erro && erroMsg" class="alert danger" role="alert">
    {{ erroMsg }}
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button mat-raised-button *ngIf="!edit" style="background: limegreen; color: white;" (click)="post()">
    <mat-progress-bar mode="indeterminate" *ngIf="sending"></mat-progress-bar>
    Criar
  </button>
  <button mat-button mat-raised-button *ngIf="edit" style="background: rebeccapurple; color: white;" (click)="put()">
    <mat-progress-bar mode="indeterminate" *ngIf="sending"></mat-progress-bar>
    Editar
  </button>
</div>
