<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="h4">
      <i class="fa-solid fa-tent"></i>
      {{ shelter.name }}
    </h4>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button mat-button color="primary" (click)="router.navigate(['/'])">
        <i class="fa-solid fa-tent-arrow-turn-left"></i>
        Voltar ao início
      </button>
    </div>
  </div>

  <mat-card class="primary">
    <div class="container p-3">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Itens">
          <div class="container">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
              <h6>Itens</h6>

              <div class="btn-toolbar mb-2 mb-md-0">
                <button mat-button style="background: limegreen; color: white;" (click)="newItemShelter()">
                  <i class="fas fa-circle-plus"></i>
                  Novo item
                </button>
              </div>
            </div>

            <div *ngIf="loading" style="display: flex; justify-content: center">
              <mat-spinner></mat-spinner>
            </div>

            <div *ngIf="!loading">
              <div class="row" *ngIf="shelterItens.length == 0" style="display: flex; justify-content: center">
                <div class="alert alert-secondary" role="alert">
                  Este abrigo ainda não possui itens cadastrados.
                </div>
              </div>
              <div *ngIf="shelterItens.length > 0">
                <p-table [value]="shelterItens">
                  <ng-template pTemplate="header">
                    <tr>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="item.name">
                        Item
                        <p-sortIcon field="item.name"/>
                      </th>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="item.category.name">
                        Categoria
                        <p-sortIcon field="category.name"/>
                      </th>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="item.measurementUnit.name">
                        Unidade
                        <p-sortIcon field="measurementUnit.name"/>
                      </th>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="quantity">
                        Quantidade
                        <p-sortIcon field="quantity"/>
                      </th>
                      <th *ngIf="isMobileDevice()">Itens</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr>
                      <td *ngIf="!isMobileDevice()">{{ row.item.name }}</td>
                      <td *ngIf="!isMobileDevice()">{{ row.item.category.name }}</td>
                      <td *ngIf="!isMobileDevice()">{{ row.item.measurementUnit.name }}</td>
                      <td *ngIf="!isMobileDevice()">{{ row.quantity }}</td>
                      <td *ngIf="isMobileDevice()">
                        <div style="padding: 15px 0;">
                          <h6>{{ row.item.name }}</h6>
                          <p>
                            <i class="fa-solid fa-rectangle-list me-3"></i>
                            {{ row.item.category ? row.item.category.name : "" }}
                          <p>
                            <i class="fa-solid fa-ruler me-3"></i>
                            {{ row.item.measurementUnit ? row.item.measurementUnit.name : "" }}
                          </p>
                          <p>
                            <i class="fa-solid fa-boxes-stacked me-3"></i>
                            {{ row.quantity }}
                          </p>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Transações">
          <div class="container">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
              <h6>Transações</h6>

              <div class="btn-toolbar mb-2 mb-md-0">
                <button mat-button style="background: limegreen; color: white;" (click)="newTransaction()">
                  <i class="fas fa-circle-plus"></i>
                  Nova transação
                </button>
              </div>
            </div>
            <div *ngIf="loading" style="display: flex; justify-content: center">
              <mat-spinner></mat-spinner>
            </div>

            <div *ngIf="!loading">
              <div class="row" *ngIf="transactions.length == 0" style="display: flex; justify-content: center">
                <div class="alert alert-secondary" role="alert">
                  Este abrigo ainda não possui transações.
                </div>
              </div>
              <div *ngIf="transactions.length > 0">
                <p-table [value]="transactions">
                  <ng-template pTemplate="header">
                    <tr>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="action">
                        Tipo
                        <p-sortIcon field="action"/>
                      </th>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="date">
                        Data
                        <p-sortIcon field="date"/>
                      </th>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="itemShelter.item.name">
                        Item
                        <p-sortIcon field="row.itemShelter.item.name"/>
                      </th>
                      <th *ngIf="!isMobileDevice()" pSortableColumn="quantity">
                        Quantidade
                        <p-sortIcon field="quantity"/>
                      </th>
                      <th *ngIf="isMobileDevice()">Transações</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                    <tr>
                      <td *ngIf="!isMobileDevice()">{{ str[row.action] }}</td>
                      <td *ngIf="!isMobileDevice()">{{ formateDate(row.date) }}</td>
                      <td *ngIf="!isMobileDevice()">{{ row.itemShelter.item.name }}</td>
                      <td *ngIf="!isMobileDevice()">{{ row.quantity }}</td>
                      <td *ngIf="isMobileDevice()">
                        <div style="padding: 15px 0;">
                          <h6>{{ str[row.action] }}</h6>
                          <p>
                            <i class="fa-solid fa-calendar me-3"></i>
                            {{ formateDate(row.date) }}
                          <p>
                            <i class="fa-solid fa-boxes-stacked me-3"></i>
                            {{ row.itemShelter.item.name }}
                          </p>
                          <p>
                            <i class="fa-solid fa-hashtag me-3"></i>
                            {{ row.quantity }}
                          </p>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>
