<h2 mat-dialog-title>Novo abrigo</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <!--    <div class="col">-->
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <!--    </div>-->
    </div>
    <div class="row">
      <p style="font-size: 18px">
        <i class="fas fa-home"></i>
        Endereço
      </p>
      <hr>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="street">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complement">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="district">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="state">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="zipcode">
        </mat-form-field>
      </div>
      <div class="col"></div>
    </div>
  </form>
  <div *ngIf="erro" class="alert alert-danger" role="alert">
    Preencha todos os campos!
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button mat-raised-button style="background: limegreen; color: white;" (click)="onYesClick()">
    <mat-progress-bar mode="indeterminate" *ngIf="sending"></mat-progress-bar>
    Criar
  </button>
</div>
