<h2 mat-dialog-title>Novo item</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md">
        <mat-form-field style="width: 100%">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let categoria of categories" [value]="categoria.id">{{ categoria.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md">
        <mat-form-field style="width: 100%">
          <mat-label>Unidade de medida</mat-label>
          <mat-select formControlName="unit">
            <mat-option *ngFor="let unidade of measurementUnits" [value]="unidade.id">{{ unidade.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div *ngIf="erro" class="alert danger" role="alert">
    Preencha todos os campos!
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button mat-raised-button *ngIf="!edit" style="background: limegreen; color: white;" (click)="post()">
    <mat-progress-bar mode="indeterminate" *ngIf="sending"></mat-progress-bar>
    Criar
  </button>
  <button mat-button mat-raised-button *ngIf="edit" style="background: rebeccapurple; color: white;" (click)="put()">
    <mat-progress-bar mode="indeterminate" *ngIf="sending"></mat-progress-bar>
    Editar
  </button>
</div>
