mat-card {
  min-width: 320px;
  /*min-height: 180px;*/
}

@media screen and (min-width: 601px) {
  mat-row > mat-cell:nth-last-child(1),
  mat-header-row > mat-header-cell:nth-last-child(1) {
    flex: 0 0 120px;
  }
}

.secondary {
  color: white !important;
  background: #001028 !important;
}

table, th, td {
  color: white !important;
  background: #001028 !important;
}
