<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4 class="h4">
      <i class="fas fa-home"></i>
      Shelters
    </h4>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button mat-button mat-raised-button color="primary" (click)="newShelter()">
        <i class="fas fa-circle-plus"></i>
        New
      </button>
    </div>
  </div>

  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <div class="row" *ngIf="!data">
      <!--    mostrar qnd n tiver nenhum abrigo cadastrado-->
      <div class="alert alert-secondary" role="alert">
        No shelters found.
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="data">
      <div class="col" *ngFor="let shelter of data">
        <mat-card style="color: white">
          <mat-card-header>
            <mat-card-title>{{ shelter.name }}</mat-card-title>
            <mat-card-subtitle>{{ shelter.id }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{ shelter.address.street }},
            {{ shelter.address.number }},
            {{ shelter.address.city }},
            {{ shelter.address.state }},
            {{ shelter.address.zipCode }}
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button (click)="enterShelter(shelter)">Edit</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</div>
